@import "/variables.scss";
@import "/mixin.scss";
@import "/media_query.scss";

.box{
  background-color: #FFF;
  height: 50px * $big;
  margin: 5px 0px;
  padding: 10px;
  text-align: center;
  @include yolo;

  text-align: center;

  & > h3 { //只有在box裏面的h3才要改，巢狀結構
    color: $B;
    @include sm-max {
      color: yellow;
    }
  }
}



input[type="text"] {
  width: 100%;
  font-size: 15px * 4;
  color: $B;
  @include yolo ;
}
